.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.title{
    font-size: 24px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 24px;
}

.content {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.buttonsContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    overflow-x: auto;
    white-space: nowrap; 
    width: 50vw;
}

.button{
    margin-left: 4px !important;
    flex-shrink: 0; 
}

.fileListTitle{
    font-size: 20px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
}

.fileList{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.taskContainer{
    transition: 300ms;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    padding: 12px;
    border-radius: 12px;
    width: 700px;
    margin-top: 10px;}

@media only screen and (max-width: 1000px){
    .content{
        width: 90vw;
    }

    .buttonsContainer{
        width: 90vw;
    }
}